@font-face {
    font-family: goudy_bookletter_1911;
    src: url("fonts/goudy_bookletter_1911-webfont.WOFF") format("opentype");
}

@font-face {
    font-family: SeaweedScript-Regular;
    src: url("fonts/SeaweedScript-Regular.WOFF") format("opentype");
}

@font-face {
    font-family: YWFT-Neighborhood;
    src: url("fonts/YWFT-Neighborhood.WOFF") format("opentype");
}

@font-face {
    font-family: YWFT-Trithart-1;
    font-weight: bold;
    src: url("fonts/YWFT-Trithart-1.WOFF") format("opentype");
}